<div class="card">
  <div class="row">
    <figure>
      <img [src]="myUser.image" [alt]="myUser.first_name">
    </figure>
  </div>   
  <div class="card-body text-center">
    <h6 class="card-title">{{myUser.first_name}} {{myUser.last_name}}</h6>
    <hr>
    <div class="d-flex justify-content-center">
      <button class="btn sm" [routerLink]="['/user', myUser.id]"><i class="fa-solid fa-magnifying-glass"></i><br>Ver detalle</button>
      <button class="btn sm" [routerLink]="['/updateuser', myUser.id]"><i class="fa-solid fa-rotate"></i><br>Actualizar</button>
      <button class="btn sm" (click)="deleteUser(myUser.id)"><i class="fa-solid fa-trash"></i><br>Borrar</button>
    </div> 
  </div>
</div>

