/*.row {
  width: 600px;
}*/

.card{
  display: block;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 10% 25%;
}

figure{
  padding: 0;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50%;  
}

img{
  width: 100%;
  height: auto;
  display: block;
}