<div class="card" style="margin: 10% 25%;">
  <div class="row">
    
    <div class="col-md-4">
      <figure>
        <img [src]="myUser?.image" [alt]="myUser?.first_name" class="img-fluid rounded-start">
      </figure>
    </div> 

    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{myUser?.first_name}}</h3>
        <h3 class="card-title">{{myUser?.last_name}}</h3>

        <p class="card-text"><b>Nombre Usuario:</b> {{myUser?.username}}</p>
        <p class="card-text"><small><b>Email: </b><a [href]=" 'mailto:' + myUser?.email">{{myUser?.email}}</a></small></p>

        <div class="btn-group justify-content-center">
          <button class="btn btn-outline-dark" (click)="deleteUser(myUser.id)">Borrar</button>
          <button class="btn btn-outline-dark" [routerLink]="['/updateuser', myUser?.id]">Actualizar</button>
          <button class="btn btn-outline-dark" [routerLink]="['/home']">Volver a listado</button>
        </div> 

      </div>
    </div>
  </div>
</div>
  