<section class="container mt-3">
  
  <div class="d-flex justify-content-between my-5"> 
    <button class="btn btn-dark btn-lg left" (click)="gotoPage(currentPage - 1)" [disabled]="currentPage === 1"><i class="fa-solid fa-angles-left"></i></button>   

    <h1 class="text-center">Lista de Usuarios</h1>

    <button class="btn btn-dark btn-lg right" (click)="gotoPage(currentPage + 1)" [disabled]="currentPage === total_pages"><i class="fa-solid fa-angles-right"></i></button>
  </div>

  <div class="row g-3">
    <article class="col-12 col-md-6 col-lg-3" *ngFor="let user of arrUsers">
      <app-user-card [myUser]="user"></app-user-card>
    </article>  
  </div>

</section>    
