input.ng-invalid.ng-touched {
    border-bottom: 5px solid rgb(110, 39, 39);
}

input.ng-valid.ng-touched{
    border-bottom: 5px solid rgb(17, 133, 183);
}

input {
    color: rgb(34, 25, 43);
    font-size: medium;
}